/.phpcs-cache
/.phpunit.result.cache
/clover.xml
/coveralls-upload.json
/phpunit.xml
/vendor/
/nbproject/
/node_modules/
/commitlint.config.js
/package-lock.json
/package.json
/composer.lock
/composer.json
/.idea/inspectionProfiles
/.idea/vcs.xml
/.idea/workspace.xml
/.idea
/templates-dataflow/.idea
